.upperSectionHeadings{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 5px;
}
.upperSectionHeadings h2{
    font-family: "Ubuntu", sans-serif;
  font-size: 5rem; 
  font-weight: 800;
}
.upperSectionHeadings h2 span{
   color: #ff3f58;
}