@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    box-sizing: border-box;
}

html {
    font-size: 56%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-thumb {
    background: #00ffff;
}

section {
    padding: 7rem 9%;
    margin-top: 7rem;
}

section h3 {
    font-size: 3rem;
    color: #000;
    text-transform: none;
    text-align: center;
    letter-spacing: .2rem;
}

section p {
    color: #000;
    font-size: 1.5rem;
    text-transform: capitalize;
    line-height: 2.5rem;
    justify-content: flex-start;
}

section h4 {
    margin: 0 0 1rem 30rem;
    width: 40%;
    font-size: 4rem;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    letter-spacing: .2rem;
    background: #000;
}

.btn {
    margin-top: 2rem;
    margin-left: 0.5rem;
    padding: 1.3rem 4rem;
    font-size: 1.5rem;
    text-transform: capitalize;
    letter-spacing: .1rem;
    font-weight: 600;
    color: #fff;
    background-color: #00ffff;
    border: none;
    box-shadow: 0rem 2rem 2rem rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.btn:hover {
    transform: translateY(-1rem);
    transition: all .5s ease;
}

.title {
    text-align: center;
    font-family: sans-serif;
    font-size: 2.5rem;
    letter-spacing: .2rem;
}

.title p {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--clr4);
}


/*----------------------Home-------------*/

.home {
    justify-content: center;
    align-items: center;
    height: 30vh;
}
.home h1{
    margin-left: 45rem;
    font-size: 5rem;
}

.search-box {
    margin: 10rem 0 0 0;
    color: var(--clr3);
    text-align: center;
}

.search-box h1 {
    font-size: 5.5rem;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: .2rem;
}

.search-box p {
    font-size: 1.8rem;
    margin: .5rem 0;
}

.search-field {
    width: 25rem;
    height: 4.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
}

@media(max-width:767px) {
    .search-box h1 {
        font-size: 4rem;
    }
    .search-field {
        width: 15rem;
    }
}

.article-wrapper {
    width: 250px;
    -webkit-transition: 0.15s all ease-in-out;
    transition: 0.15s all ease-in-out;
    border-radius: 10px;
    padding: 5px;
    border: 4px solid transparent;
    cursor: pointer;
    background-color: rgb(143, 228, 247);
  }
  
  .article-wrapper:hover {
    -webkit-box-shadow: 10px 10px 0 #4e84ff, 20px 20px 0 #4444bd;
    box-shadow: 10px 10px 0 #4e84ff, 20px 20px 0 #4444bd;
    border-color: #0578c5;
    -webkit-transform: translate(-20px, -20px);
    -ms-transform: translate(-20px, -20px);
    transform: translate(-20px, -20px);
  }
  
  .article-wrapper:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  
  .types {
    gap: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: flex-start;
  }
  
  .rounded-lg {
   /* class tailwind */
    border-radius: 10px;
  }
  
  .article-wrapper:hover .project-hover {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: #a6c2f0;
  }
  
  .project-info {
    padding-top: 20px;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
  }
  
  .project-title {
    font-size: 2em;
    margin: 0;
    font-weight: 600;
   /* depend de la font */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: black;
  }
  
  .flex-pr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .project-type {
    background: #b2b2fd;
    color: #1a41cd;
    font-weight: bold;
    padding: 0.3em 0.7em;
    border-radius: 15px;
    font-size: 12px;
    letter-spacing: -0.6px
  }
  
  .project-hover {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 9px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  .container-project {
    width: 100%;
    height: 170px;
  }
  .container-project img{
    height: 170px;
    width: 231px;
    border-radius: 15px;
  }

.hackathon .headingg {
    color: #000;
    font-size: 4rem;
    margin-left: 55rem;
    height: 15vh;
}
.hackathon-list {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

/*intern*/

.intern .headingg {
    color: #000;
    font-size: 4rem;
    margin-left: 45rem;
    height: 15vh;
}
.intern-list {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}
.card {
    --main-color: #323232;
    --sub-color: #5b5b5b;
    --bg-color: #c7c7c7;
    --accent-color: #242C88;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 270px;
    padding: 25px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: var(--bg-color);
    transition: all 0.2s;
    cursor: pointer;
    box-shadow: 0px 0px 5px -1.5px #000;
  }
  
  .card::before {
    content: '';
    width: 99%;
    height: 99%;
    background: var(--sub-color);
    position: absolute;
    z-index: -1;
    top: 1px;
    left: 1px;
    border-radius: 25px;
    transition: all 0.3s;
  }
  
  .card__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .card__img {
    width: 100%;
  }

  .card__img img{
    height: 180px;
    width: 220px;
    border-radius: 15px;
  }

  
  .card__title {
    color: var(--main-color);
    font-weight: 900;
    font-size: 25px;
  }
  
  .card__subtitle {
    color: var(--sub-color);
    font-weight: 600;
    font-size: 20px;
  }
  
  .card__icon {
    width: 40px;
    height: 40px;
    transform: rotate(-45deg);
    transition: all 0.3s;
  }
  
  .card__icon svg {
    width: 100%;
    height: 100%;
  }
  
  .card__icon g {
    fill: var(--main-color);
  }
  
  .card__icon circle, polyline, line {
    stroke: var(--main-color);
  }
  
  .card:hover .card__icon {
    transform: rotate(0);
  }
  
  .card:hover .card__icon circle, .card:hover .card__icon polyline, .card:hover .card__icon line {
    stroke: var(--accent-color);
  }
  
  .card:hover .card__icon g {
    fill: var(--accent-color);
  }
  
  .card:hover {
    box-shadow: 0px 0px 20px -5px #000;
  }
  
  .card:hover::before {
    transform: rotate(10deg);
    box-shadow: 0px 0px 20px -5px #000;
  }
  
  /* remove svg from class ="card__img" and last styles below css code before use */
  .st1 {
    fill: #fff
  }
  
  .st2 {
    fill: none;
    stroke: #242c88;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10
  }
  
  .st7 {
    fill: #589fff
  }
  
  .st9 {
    fill: #bc8d66
  }
  
  .st15,.st16 {
    opacity: .4;
    fill: #242c88
  }
  
  .st16 {
    opacity: .2
  }
  
  .st18 {
    fill: #ffc408
  }
  
  .st53 {
    fill: none;
    stroke: #242c88;
    stroke-width: 1.848;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10
  }

/*----------------------------seminar section-----------------*/

 .seminar .seminar-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.seminar .seminar-list .seminar-box {
    flex: 1 1 50rem;
    margin: 1rem;
    position: relative;
    border-radius: .6rem;
    overflow: hidden;
    height: 20rem;
}

.seminar .seminar-list .seminar-box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.seminar .seminar-list .seminar-box .seminar-info {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: #fff;
    background: rgba(46, 39, 40, 0.5);
    transform: scale(1.3);
    opacity: 0;
    transition: 1s ease;
}

.seminar .seminar-list .seminar-box:hover .seminar-info {
    transform: scale(1);
    opacity: 1;
}

.seminar .seminar-list .seminar-box .seminar-info h2 {
    letter-spacing: .1rem;
    font-size: 3rem;
}

.seminar .seminar-list .seminar-box .seminar-info p {
    letter-spacing: .1rem;
    font-size: 2rem;
}

.seminar .seminar-list .seminar-box .seminar-info .btn {
    width: 12rem;
    height: 4rem;
    margin: 1rem;
    padding: .6rem;
    letter-spacing: .1rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: #fff;
    background: rgb(236, 68, 90);
    border: none;
    border-radius: .5rem;
}